/* -------------------------- Удаление ненужных стилей -------------------------- */
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
      color: #5e5e5e;
      text-decoration: none;
      font-family: "Segoe UI";
      font-stretch: normal;
}

html {
      font-size: 11px;
}

body {
      position: relative;
}

img {
      width: 100%;
      height: 100%;
      object-fit: contain;
}

li {
      display: block;
}

a {
      text-decoration: none;
}

/* -------------------------- Типография стили -------------------------- */

h1,
h1 span {
      max-width: 630px;
      font-size: 40px;
      font-weight: 600;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
}

h1 span {
      font-family: "Myriad Pro";
      font-size: 22px;
}

h2 {
      font-size: 40px;
      font-family: "SegoePrint";
      color: #515487;
      line-height: 1.2;
      text-align: center;
}

h3 {
      font-size: 9px;
      color: #515487;
}

h4 {
      font-size: 8px;
      color: #515487;
}

/* -------------------------- Стили контейнера -------------------------- */

.container {
      max-width: 1200px;
      padding: 0 20px;
      margin: auto;
}

/* -------------------------- Стили кнопок -------------------------- */

.btn {
      cursor: pointer;
      background-color: #515487;
      width: 200px;
      height: 50px;

      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
}

/* -------------------------- Стили хэдер -------------------------- */

.header-container {
      max-width: 1380px;
      padding: 0 40px;

      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 80px;
}

.header__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
}

.contacts__icon {
      width: 20px;
      height: 20px;
}

.contacts__phones {
      margin-top: 5px;
      margin-left: 5px;
      width: fit-content;
}

.phone__link {
      font-size: 13px;
}

.navigation__list {
      display: flex;
      flex-direction: row;
      gap: 30px;
}

.navigation__item {
      display: flex;
      font-display: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
}
.navigation__item .item__img {
      width: 15px;
      height: 15px;
}

.navigation__item .item__link {
      font-size: 13px;
      font-family: "Myriad Pro";
}

/* -------------------------- Стили hero -------------------------- */

.hero {
      background-image: url("./assets/bg/hero-bg.png");
      background-size: cover;
      background-repeat: no-repeat;
}
.hero-container {
      min-height: 765px;
      padding-top: 208px;
      padding-bottom: 166px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}
.hero__text {
      max-width: 740px;
      font-size: 20px;
      font-family: "Myriad Pro";
      color: #ffffff;
      font-style: italic;
      line-height: 1.2;
      text-align: center;
}
.hero__btns {
      display: flex;
      flex-direction: row;
      gap: 20px;
}

/* -------------------------- Стили об острове -------------------------- */

.about-container {
      margin-top: 35px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
}
.about__title .title__img {
      width: 75px;
      height: 39px;
}
.about__text {
      max-width: 900px;
      font-size: 22px;
      font-weight: 300;
      color: #5e5e5e;
      line-height: 1.2;
      text-align: left;
      padding-left: 10px;
      border-left: 4px solid #515487;
}

.about__text .text__img {
      width: 26px;
      height: 26px;
}
