/* -------------------------- Удаление ненужных стилей -------------------------- */
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
      color: #5e5e5e;
      text-decoration: none;
      font-family: "Segoe UI";
      font-stretch: normal;
}

html {
      font-size: 11px;
}

body {
      position: relative;
}

img {
      width: 100%;
      height: 100%;
      object-fit: contain;
}

li {
      display: block;
}

a {
      text-decoration: none;
}

/* -------------------------- Типография стили -------------------------- */

h1,
h1 span {
      max-width: 630px;
      font-size: 40px;
      font-weight: 600;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
}

h1 span {
      font-family: "Myriad Pro";
      font-size: 22px;
}

h2 {
      font-size: 40px;
      font-family: "SegoePrint";
      color: #515487;
      line-height: 1.2;
      text-align: center;
}

h3 {
      position: relative;
      margin-left: 60px;
      font-size: 18px;
      font-weight: 600;
      color: #515487;
      text-align: center;
}
h3 img {
      position: absolute;
      left: -60px;
      top: 5px;
}

h4 {
      font-size: 16px;
      color: #515487;
      text-align: center;
}

/* -------------------------- Стили контейнера -------------------------- */

.container {
      max-width: 1200px;
      padding: 0 20px;
      margin: auto;
}

/* -------------------------- Стили кнопок -------------------------- */

.btn {
      cursor: pointer;
      background-color: #515487;
      min-width: 200px;
      height: 50px;

      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
}

/* -------------------------- Стили хэдер -------------------------- */

.header-container {
      max-width: 1380px;
      padding: 0 40px;

      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 80px;
}

.header__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
}

.contacts__icon {
      width: 20px;
      height: 20px;
}

.contacts__phones {
      margin-top: 5px;
      margin-left: 5px;
      width: fit-content;
}

.phone__link {
      font-size: 13px;
}

.navigation__list {
      display: flex;
      flex-direction: row;
      gap: 30px;
}

.navigation__item {
      display: flex;
      font-display: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
}
.navigation__item .item__img {
      width: 15px;
      height: 15px;
}

.navigation__item .item__link {
      font-size: 13px;
      font-family: "Myriad Pro";
}

/* -------------------------- Стили первой секции -------------------------- */

.hero {
      background-image: url("./assets/bg/hero-bg.png");
      background-size: cover;
      background-repeat: no-repeat;
}
.hero-container {
      min-height: 765px;
      padding-top: 208px;
      padding-bottom: 166px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}
.hero__text {
      max-width: 740px;
      font-size: 20px;
      font-family: "Myriad Pro";
      color: #ffffff;
      font-style: italic;
      line-height: 1.2;
      text-align: center;
}
.hero__btns {
      display: flex;
      flex-direction: row;
      gap: 20px;
}

/* -------------------------- Стили секции об острове -------------------------- */

.about-container {
      margin-top: 35px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
}
.about__title .title__img {
      width: 75px;
      height: 39px;
}
.about__text {
      max-width: 900px;
      font-size: 22px;
      font-weight: 300;
      color: #5e5e5e;
      line-height: 1.2;
      text-align: left;
      padding-left: 10px;
      border-left: 4px solid #515487;
}

.about__text .text__img {
      width: 26px;
      height: 26px;
}

/* -------------------------- Стили секции достопримечательности -------------------------- */
.attractions-container {
      margin-top: 15px;
      margin-bottom: 85px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
}
.attractions__title .title__img {
      width: 64px;
      height: 64px;
}
.attractions__text {
      max-width: 900px;
      font-size: 22px;
      font-weight: 300;
      color: #5e5e5e;
      line-height: 1.2;
      text-align: left;
      padding-left: 10px;
      border-left: 4px solid #515487;
}
.attractions__places {
      max-width: 900px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.places__place {
      max-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
}
.place__img {
      margin-bottom: 10px;
}
.place__text {
      font-size: 13px;
      font-family: "SegoePrint";
      color: #6f6f6f;
      line-height: 1.2;
      text-align: center;
}

/* -------------------------- Стили секции вопросов -------------------------- */
.questions {
      background-image: url("./assets/bg/questions-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
}
.qustions-container {
      padding-top: 90px;
      padding-bottom: 110px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
}
.questions__title {
      font-size: 28px;
      font-family: "Segoe UI";
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
}
.questions__title .title__img {
      width: 46px;
      height: 34px;
}
.questions__text {
      max-width: 750px;
      font-size: 17px;
      font-family: "Segoe UI";
      font-weight: 600;
      color: #ffffff;
      line-height: 1.2;
      text-align: center;
}
.questions__form {
      width: 100%;
      display: flex;
      flex-direction: row;
}
.form__input {
      width: 100%;
      min-width: 200px;
      padding: 0 10px;
}
.form__input:nth-child(1) {
      margin-right: 15px;
}

/* -------------------------- Стили секции экскурсий -------------------------- */
.excursions-container {
      margin-top: 25px;
      margin-bottom: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 85px;
}
.excursions__title .title__img {
      width: 70px;
      height: 70px;
}
.excursions__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
}
.excursions__item {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      padding: 0 5px;
}
.excursions__item:nth-child(1),
.excursions__item:nth-child(2),
.excursions__item:nth-child(4) {
      border-right: 4px solid #515487;
}
.excursions__item:nth-child(4),
.excursions__item:nth-child(5) {
      border-top: 4px solid #515487;
}
.excursions__item .title__img {
      width: 57px;
      height: 34px;
}
.excursions__item .item__img {
      margin-bottom: 60px;
}

.excursions__item .item__duration,
.excursions__item .item__time {
      font-size: 18px;
      font-family: "Segoe UI";
      color: #757575;
      font-weight: 600;
      font-style: italic;
      line-height: 1.571;
      text-align: left;
}
.excursions__item .item__duration b,
.excursions__item .item__time b {
      font-size: 18px;
      color: #000000;
      font-weight: 600;
      font-style: normal;
      line-height: 1.571;
      text-align: left;
}
.excursions__item .item__text {
      margin-top: 40px;
      margin-bottom: 5px;
      font-size: 18px;
      font-family: "Myriad Pro";
      color: #757575;
      line-height: 1.143;
      text-align: left;
}
